{% extends "base.html" %} {% block menu %}
<div id="header">
    <div id="logo">
        <a href="/"
            ><img src="/assets/rust-logo.svg" height="70" width="70"
        /></a>
    </div>
    <ul id="menu">
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/size"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            Size
        </li>
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/getziform"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            Zi => Pinyin
        </li>
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/getpyform"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            Pinyin => Zi
        </li>
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/getaddziform"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            Add zi
        </li>
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/getselupdate"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            Update zi
        </li>
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/showlast"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            Last zi
        </li>
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/getseldelete"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            Delete zi
        </li>
        <li
            class="menuitem"
            hx-trigger="click"
            hx-get="/listdic"
            hx-target="#content"
            hx-swap="innerHTML"
        >
            List dictionary
        </li>
    </ul>
</div>
<div style="clear: both"></div>

{% endblock menu %} {% block content %}
<h1 class="title">Manage character dictionary</h1>
<p id="describe">Create, read, update and delete dictionary entries<br /></p>
<div id="content">Select a menu item hereabove to get started</div>
{% endblock content %}
